body {
  margin: auto;
  width: 600px
  height: 600px;
  border-style: dotted;
  border-color: green;
}

h1 {
  margin: auto;
  width: 200px;
}

section {
    margin: auto;
    width: 550px;
    height: 200px;
    /*border-style: dotted;
    border-color: red;*/
}

div {
  border-style: solid;
  width: 150px;
  height: 150px;
  margin: 10px 10px;
  text-align: center;
  float: left;
}
